<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Add</title>
    </head>
    <body>
        <h1> Add history for test purpose</h1>
        <form action="", enctype="multipart/form-data", method="POST">
            {% csrf_token %}
            <label for="user">Select user: </label>
            <select id="user" name="user_id">
                {% for user in users %}
                  <option value="{{ user.id }}">{{ user.user_name }}</option>
                {% endfor %}
            </select>

            <label for="door">Select door position: </label>
            <select id="door" name="door_id">
                {% for door in doors %}
                <option value="{{ door.door_id }}">{{ door.position }}</option>
                {% endfor %}
            </select>
            <label for="user_image_fileget">Image</label>
            <input type="file" name="incident_image" id="incident_image">

            <input type="submit" value="Submit">
        </form>
    </body>
</html> 